<h3>Carrito</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
  <span>Disponible:{{ item.existencias }}</span>
</div>
<details>
  <summary>Formulario de pago:</summary>
  <br />
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <input
        id="name"
        placeholder="Nombre"
        type="text"
        formControlName="name"
      />
    </div>
    <div>
      <input
        id="phone"
        placeholder="Telefono"
        type="text"
        formControlName="phone"
      />
    </div>
    <div>
      <input
        id="address"
        placeholder="Dirección"
        type="text"
        formControlName="address"
      />
    </div>
    <div>
      <button style="margin-right: 10px" class="button" type="submit">
        Comprar
      </button>
      <button style="margin-left: 10px" class="button" type="reset">
        Reiniciar
      </button>
    </div>
  </form>
</details>
