h1 {
  -webkit-text-stroke: 1px black;
}

h2 {
  font-size: 45px;
  font-weight: bolder;
  color: rgb(44, 161, 136);
  -webkit-text-fill-color: rgb(44, 161, 136);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
h4 {
  font-size: 21px;
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
